<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
    <appSettings>      
      <!-- Database configurations -->
      <add key="hostAddress"    value="localhost"/>
      <add key="username"       value="root"/>
      <add key="password"       value=""/>
      <add key="databaseName"   value=""/>
      <add key="tableName"      value=""/>     
    
      <!-- Json configuration -->
      <add key="jsonFileName"   value=""/>
      <add key="jsonFileFolder" value=""/>
    </appSettings>  
</configuration>